@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Stardos+Stencil&display=swap");

body {
  background-image: url("legobakgrund.jpeg"); /* ska blurras*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
  background-color: whitesmoke;
  margin: 0%;
}

.headernavbar {
  font-family: "Staatliches";
  background-color: red;
  overflow: hidden;
  padding: 1vw;
  border-bottom: yellow solid 1.5vw;
}
.headernavbar a {
  color: black;
  text-align: center;
  padding: 14px 16px; /*scalar inte :/ kanske byt till vw om det ser snyggt ut*/
  text-decoration: none;
  font-size: 2vw;
}
.headernavbar a:hover {
  background-color: black;
  color: white;
}
.headernavbar a:active {
  background-color: gray;
  color: white;
}
#header {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: center;
}
