@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Stardos+Stencil&display=swap");
body,
html {
  height: 100%;
  overflow: hidden;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.headernavbar img {
  transform: rotate(45deg);
  width: 3vw;
  height: 3vw;
}
#bg-img {
  background-image: url("legobakgrund.jpeg");
  /* Full height */
  height: 100%;
  width: auto;
  overflow: hidden;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  z-index: 1;
}

.headernavbar {
  font-family: "Staatliches";
  background-color: red;
  overflow: hidden;
  padding: 1vw;
  border-bottom: yellow solid 1.5vw;
  margin-left: -5vw;
}

.headernavbar a {
  color: white;
  text-align: center;
  margin: 6vw;
  /*scalar inte :/ kanske byt till vw om det ser snyggt ut*/
  text-decoration: none;
  font-size: 3vw;
}

.headernavbar :hover {
  color: black;
}

.headernavbar .text:active {
  color: black;
}

.headernavbar .text:active {
  color: black;
}

#header {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: center;
}

.headernavbar img {
  transform: rotate(45deg);
}

.searchbar {
  z-index: 4;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10vw;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchbar .search {
  margin-left: -1vw;
  width: 4vh;
  height: 8vh;
  background: red;
  border: none;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  background-image: url("search.png");
  background-repeat: no-repeat;
  background-position: center;
}

input {
  border: none;
  transition: all 1s;
  flex-grow: 0;
  flex-basis: auto;
}

input:focus {
  outline: none;
  flex-grow: 20%;
}

input[type="search"] {
  font-size: 1vw;
  background-color: white;
  background-image: url("LEGO_logo.svg.png");
  background-position: 1vw;
  background-size: 2vw 2vw;
  background-repeat: no-repeat;
  padding: 1.2vw 2vw 1.2vw 4vw;
  outline: none;
  border-radius: 4px;
}

input[type="search"]:focus {
  transition: all 1s;
  flex-grow: 0.1;
  flex-basis: auto;
}

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
  position: absolute;
  z-index: 7;
  cursor: pointer;
  padding: 1vw;
  margin-top: 1vw;
  width: 15vw;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 3px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
  background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  position: absolute;
  z-index: 7;
  width: 15vw;
  padding: 0 2vh;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  border-radius: 0px 0px 3px 3px;
  margin-top: 3.5vw;
  font-size: 1vw;
}
.panelOpen {
}

.accordion:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.help {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: center;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-flex;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 1em;
  }

  .headernavbar {
    font-family: "Staatliches";
    background-color: red;
    overflow: hidden;
    padding: 10%;
    border-bottom: yellow solid 5vw;
    margin-left: -5vw;
  }

  .headernavbar a {
    color: white;
    text-align: center;
    margin: 6vw;
    /* scalar inte :/ kanske byt till vw om det ser snyggt ut */
    text-decoration: none;
    font-size: 8vw;
  }

  .headernavbar img {
    transform: rotate(45deg);
    width: 8vw;
    height: 8vw;
  }
  .searchbar {
    z-index: 4;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10vw;
  }
  input[type="search"] {
    font-size: 4vw;
    background-color: white;
    background-image: url("LEGO_logo.svg.png");
    background-position: 1vw;
    background-size: 4vw 4vw;
    background-repeat: no-repeat;
    padding: 1.2vw 2vw 1.2vw 6vw;
    outline: none;
    border-radius: 4px;
  }

  .accordion {
    position: absolute;
    z-index: 7;
    cursor: pointer;
    padding: 1vw;
    margin-top: 1vw;
    width: 20vw;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 3px;
  }

  .panel {
    position: absolute;
    z-index: 7;
    width: 25vw;
    padding: 0 2vh;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    border-radius: 0px 0px 3px 3px;
    margin-top: 11vw;
    font-size: 3vw;
  }
}
