 @import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Stardos+Stencil&display=swap");
 body,
 html {
     height: 100%;
     overflow: hidden;
     text-align: center;
 }
 
 * {
     box-sizing: border-box;
     padding: 0%;
     margin: 0%;
 }
 
 #bg-img {
     background-image: url("legobakgrund.jpeg");
     /* Full height */
     height: 100%;
     width: auto;
     overflow: hidden;
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     filter: blur(2px);
 }
 
 .headernavbar {
     font-family: "Staatliches";
     background-color: red;
     overflow: hidden;
     padding: 1vw;
     border-bottom: yellow solid 1.5vw;
     margin-left: -5vw;
 }
 
 .headernavbar a {
     color: white;
     text-align: center;
     margin: 6vw;
     /*scalar inte :/ kanske byt till vw om det ser snyggt ut*/
     text-decoration: none;
     font-size: 3vw;
 }
 
 .headernavbar :hover {
     color: black;
 }
 
 .headernavbar .text:active {
     color: black;
 }
 
 .headernavbar .text:active {
     color: black;
 }
 
 #header {
     flex-wrap: nowrap;
     list-style-type: none;
     justify-content: center;
 }
 
 .headernavbar img {
     transform: rotate(40deg);
 }
 
 .searchbar {
     z-index: 4;
     position: absolute;
     left: 0;
     right: 0;
     margin: auto;
     margin-top: 12vw;
 }
 
 form {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }
 
 .searchbar button {
     margin-left: -1vw;
     width: 4vh;
     height: 8vh;
     background: red;
     border: none;
     cursor: pointer;
     border-radius: 0px 4px 4px 0px;
     background-image: url('search.png');
     background-repeat: no-repeat;
     background-position: center;
 }
 
 input {
     flex-grow: 0;
     border: none;
 }
 
 input:focus {
     outline: none;
 }
 
 input[type=text] {
     font-size: 1vw;
     background-color: white;
     background-image: url('LEGO_logo.svg.png');
     background-position: 1vw;
     background-size: 2vw 2vw;
     background-repeat: no-repeat;
     padding: 1.2vw 2vw 1.2vw 4vw;
     outline: none;
     border-radius: 4px;
 }
 
 input[type=text]:focus {
     width: 30vw;
 }